@page "/bill/"
@page "/bill/{billString}"

@using System.Text.Json;
@using Service.Repository;

<div class="bill-container">

		@{
			void RenderInputField(string propertyName)
			{
				if (propertyName == "type")
				{
					<select class="property-value" @bind=@properties[propertyName] name="billType" id="billType">
						@foreach (var billType in Enum.GetNames(typeof(DBManager.Entities.BillType)))
						{
							<option class="property-value" value=@billType>@billType</option>
						}
					</select>

				}
				else
				{
					<input class="property-value" @bind=@properties[propertyName] type="text" name=@propertyName />
				}
			}
			void RenderProperty(string propertyName)
			{
				Boolean billIsNull = billObject == null;

				if (propertyName == "date" && billIsNull)
				{
					return;
				}

				<div class="property-container">
					<div class="property-label">@propertyName.First().ToString().ToUpper()@propertyName.Substring(1)</div>

					@if (propertyName == "date")
					{
						<div class="property-value">@properties[propertyName]</div>
					}
					else if (billIsNull || editModeOn)
					{
						RenderInputField(propertyName);
					}
					else
					{
						<div class="property-value">@properties[propertyName]</div>
					}
				</div>
			}

			RenderProperty("title");
			RenderProperty("price");
			RenderProperty("type");
			RenderProperty("date");
		}
	<div class="buttons-container p-2 w-100">
		
		@{
			void RenderButton(string text, ButtonDelegate buttonMethod, string color)
			{
				string cssClass = $"{color} button";

				<div class="button-container">
					<div class=@cssClass @onclick="(e => buttonMethod())">@text</div>
				</div>
			}
		}
		
		@if (billObject == null)
		{
			RenderButton("Back", NavigateToBillPage, "red");
			RenderButton("Save", SaveBill, "green");
		}
		else
		{
			@if (editModeOn)
			{
				RenderButton("Back", SwitchEditMode, "red");
				RenderButton("Save", UpdateBill, "green");
			}
			else
			{
				RenderButton("Back", NavigateToBillPage, "red");
				RenderButton("Edit", SwitchEditMode, "green");

			}
			RenderButton("Remove", RemoveBill, "red");
		}
	</div>
</div>

@functions {

	[Parameter]
	public String billString { get; set; }

	/* Current bill */
	private DBManager.Entities.Bill billObject { get; set; }
	/* Dictionary to store bill prperties */
	private Dictionary<string, string> properties = new Dictionary<string, string>();
	/* Flag to indicate if the user wants to edit the bill */
	private bool editModeOn = false;
	@inject IRepository<DBManager.Entities.Bill> rep;
}

@code {
	protected override void OnInitialized()
	{
		billObject = DBManager.Entities.Bill.Deserialize(billString);

		if (billObject != null)
		{
			properties.Add("title", billObject.Name);
			properties.Add("price", billObject.Price.ToString());
			properties.Add("type", billObject.BillType.ToString());
			properties.Add("date", billObject.BillDate.ToString());
		}
		else
		{
			properties.Add("title", "");
			properties.Add("price", "0");
			properties.Add("type", "");
			properties.Add("date", "");
		}
	}

	public delegate void ButtonDelegate();

	protected void SaveBill()
	{
		int price =  Int32.Parse(properties["price"]);
		Enum.TryParse(properties["type"], out DBManager.Entities.BillType type);

		DBManager.Entities.Bill b = new DBManager.Entities.Bill((string)properties["title"], price, type, DateTime.Now);
		
		var queryResult = rep.AddEntity(b);

		if (queryResult.GetResult())
		{
			@inject NavigationManager navManager;
			navManager.NavigateTo("/");
		}
		/*
		 * TODO: Ad error message
		 */
	}
	
	private void NavigateToBillPage()
	{
		@inject NavigationManager navManager;
		navManager.NavigateTo("/");
	}

	private void RemoveBill()
	{
		var result = rep.RemoveEntity(billObject);

		if (result.GetResult())
		{
			NavigateToBillPage();
			Console.WriteLine("Removed bill ", billObject.Id);
		}
	}

	private void SwitchEditMode()
	{
		editModeOn = !editModeOn;
		StateHasChanged();
	}

	private void UpdateBill()
	{
		if (editModeOn)
		{
			billObject.Name = properties["title"];
			billObject.Price = Int32.Parse(properties["price"]);
			Enum.TryParse(properties["type"], out DBManager.Entities.BillType billType);
			billObject.BillType = billType;

			var result = rep.UpdateEntity(billObject);

			Console.WriteLine("Updated result ", result.GetResult());
			SwitchEditMode();
		}
	}
}
