@page "/"
@using PSC.Blazor.Components.Chartjs.Interfaces;
@using Service.Repository;
@using System.Text.Json;

<div>
	<div class="top-left-button-container">
		<div class="top-left-button p-1 m-1 box-shadow" @onclick="(e => NavigateToBillPage())">+</div>
		@if (_config.GetType() == typeof(PieChartConfig))
		{
			<div class="top-left-button p-1 m-1 box-shadow" @onclick="(e => GoBackToBarChart())">&#8592;</div>
		}
	</div>
	
	<div class="billing-container light-blue box-shadow">
		<div class="d-flex flex-row">
			<div class="flex-grow-1 p-3 align-content-center align-self-center">
				<label for="billType">Type</label>
				<BillTypeSelector OnValueChange="SetBillTypeFilter"></BillTypeSelector>
			</div>

			<div class="d-flex flex-grow-1 flex-column p-3 @(_config.GetType() == typeof(PieChartConfig) ? "disabled" : "")">
				<div class="text-center p-1">
					<label>From:</label>
					<input type="date" id="date-from" name="from" @onchange="(e => UpdateDates(ref fromDate, DateTime.Parse(e.Value.ToString())))">
				</div>

				<div class="text-center p-1">
					<label>To:</label>
					<input type="date" id="date-to" name="to" @onchange="(e => UpdateDates(ref toDate, DateTime.Parse(e.Value.ToString())))">
				</div>
			</div>
		</div>

		<div class="chart-container">
			<Chart Style="flex:1; display:flex" Config="_config" @ref="_chart"></Chart>
		</div>

		<div class="bill-grid box-shadow">
			<div class="bill-elements-header box-shadow">
				<div class="bill-text">Name</div>
				<div class="bill-text">Price</div>
				<div class="bill-text">Type</div>
				<div class="bill-text">Time</div>
			</div>

			@{
				void RenderBills(IList<DBManager.Entities.Bill> bills, string date)
				{
					@if (bills.Any())
					{
						IList<DBManager.Entities.Bill> filteredBills = bills;

						@if (billTypeFilter != DBManager.Entities.BillType.ALL)
						{
							filteredBills = bills.Where(x => x.BillType == billTypeFilter).ToList();
						}

						@if (filteredBills.Any())
						{
							<div class="bill-container">
								<div class="date-element">@date</div>
								@foreach (var bill in filteredBills)
								{
									<div class="bill-element light-blue" @onclick="(e => NavigateToBillPage(JsonSerializer.Serialize<DBManager.Entities.Bill>(bill)))">
										<div class="bill-left-element">
											<div class="align-text-start bill-title">@bill.Name</div>
											<div class="align-text-start bill-type">@bill.BillType</div>
										</div>
										<div class="bill-right-element">
											<div class="text-center">@bill.Price €</div>
											<div class="text-center">@bill.BillDate.Hour.ToString("00"):@bill.BillDate.Minute.ToString("00")</div>
										</div>
									</div>
								}
							</div>
						}
					}
				}

				void RenderBillsInDate()
				{
					if (selectedBill != null)
					{
						RenderBills(selectedBill.GetAllBills(), selectedBill.GetDate().ToString("dd/MM/yyyy"));
					}
					else
					{
						@foreach (var billsInDate in billsByDate.Reverse())
						{
							var bills = billsInDate.GetAllBills();
							RenderBills(bills, @billsInDate.GetDate().ToString("dd/MM/yyyy"));
						}
					}
				}

				RenderBillsInDate();
			}
		</div>
	</div>
</div>



@code
{
	private IChartConfig _config;
	private Chart _chart;

	private IList<IBillDateSummary> billsByDate = new List<IBillDateSummary>(),
		filteredBills = new List<IBillDateSummary>();
	private IBillDateSummary selectedBill;

	private DBManager.Entities.BillType billTypeFilter;
	private DateTime fromDate;
	private DateTime toDate;

	protected override void OnInitialized()
	{
		SetBillsByDateRange(DateTime.Today.AddDays(-7), DateTime.Today);
		_config = GetChartConfig();
	}

	private void UpdateDates(ref DateTime variable, DateTime valueToAssign)
	{
		variable = valueToAssign;
		SetBillsByDateRange(fromDate, toDate);
		_config = GetChartConfig();
		StateHasChanged();
	}
	private void SetBillsByDateRange(DateTime from, DateTime to)
	{
		@inject IBillRepository rep;
		billsByDate = rep.GetBillsByDateRange(from, to);
	}

	private IChartConfig GetChartConfig()
	{
		if (selectedBill != null)
		{
			return PieChart.GetPieChartConfig(selectedBill);
		}
		
		return BarChart.GetBarChartConfig(billsByDate, onClickAsyncBarChart);
	}

	private void NavigateToBillPage(string JsonBill = "")
	{
		@inject NavigationManager navManager;
		navManager.NavigateTo("bill/" + JsonBill);
	}

	public ValueTask onClickAsyncBarChart(CallbackGenericContext value)
	{
		selectedBill = billsByDate[value.DataIndex];
		_config = GetChartConfig();
		StateHasChanged();

		return ValueTask.CompletedTask;
	}

	private void GoBackToBarChart()
	{
		selectedBill = null;
		_config = GetChartConfig();
		StateHasChanged();
	}

	private void SetBillTypeFilter(string billType)
	{
		billTypeFilter = (DBManager.Entities.BillType)Enum.Parse(typeof(DBManager.Entities.BillType), billType);
	}
}