<div class="d-flex flex-column align-items-center bg-white p-3 bill-type-container">
	<label for="@Label">@Label</label>
	<select name="@Label" id="@Label" @onchange="(e => OnValueChangeHandler(e))" value="@DefaultValue">
		@foreach (var value in @Values)
		{
			<option value=@value>@value</option>
		}
	</select>
</div>

@code {

	[Parameter]
	public Action<string> OnValueChange { get; set; }

	[Parameter]
	public string Label { get; set; }

	[Parameter]
	public List<string> Values { get; set; }

	[Parameter]
	public string DefaultValue { get; set; }

	private void OnValueChangeHandler(ChangeEventArgs e)
	{
		OnValueChange?.Invoke(e.Value.ToString());
	}
}
